apply Naive Bayes to determine that whether there is evade or not

In [28]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [29]:
import pandas as pd
import pickle
from sklearn.naive_bayes import GaussianNB
import numpy as np
from sklearn.utils.validation import column_or_1d
import numpy as np


df = pd.read_excel('dataset/2_evade.xlsx', index_col = 0)

df

     Refund  Marital_Status  Taxable_Income  Evade
Tid
1         1               0          125000      0
2         0               1          100000      0
3         0               0           70000      0
4         1               1          120000      0
5         0               2           95000      1
6         0               1           60000      0
7         1               2          220000      0
8         0               0           85000      1
9         0               1           75000      0
10        0               0           90000      1

In [30]:
features = df[["Refund","Marital_Status","Taxable_Income"]]
target = df[["Evade"]]

In [31]:
features

     Refund  Marital_Status  Taxable_Income
Tid
1         1               0          125000
2         0               1          100000
3         0               0           70000
4         1               1          120000
5         0               2           95000
6         0               1           60000
7         1               2          220000
8         0               0           85000
9         0               1           75000
10        0               0           90000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
Refund            10 non-null int64
Marital_Status    10 non-null int64
Taxable_Income    10 non-null int64
Evade             10 non-null int64
dtypes: int64(4)
memory usage: 400.0 bytes

In [33]:
target

     Evade
Tid
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        1
9        0
10       1

In [34]:


#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets 
model.fit(features, column_or_1d(target))

GaussianNB(priors=None, var_smoothing=1e-09)

In [35]:

print("The prediction accuracy is: ", model.score(features,np.array(target))*100,"%")

The prediction accuracy is:  100.0 %

In [36]:
class_names = model.classes_
class_names

array([0, 1])

In [37]:
# X_test = [["No", "Married", 120000],["No","Single",90000]]
X_test = [[0, 1, 120000], [0, 0, 90000]]
y_pred = model.predict(X_test)
y_pred

array([0, 1])

#### save to pickle file

In [38]:

# Save to file in the current working directory
pkl_filename = "model/2_Naive_Bayes.pkl"  
with open(pkl_filename, 'wb') as file:  
    pickle.dump(model, file)

In [39]:
with open(pkl_filename, 'rb') as file:  
    pickle_model = pickle.load(file)

In [40]:
X_test = [[0, 0, 75000]]
y_pred = pickle_model.predict(X_test)
y_pred[0]

0