apply Naive Bayes to predict that you should play gold or not from the features: 'Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Golf

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [20]:
import pandas as pd
df = pd.read_excel('dataset/2_mammal.xlsx', index_col = 0)
df.head()

        Give Birth  Can Fly  Live in Water  Have Legs  Class
Name
human            1        0              0          1      1
python           0        0              0          0      0
salmon           0        0              1          0      0
whale            1        0              1          0      1
frog             0        0              2          1      0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, human to eagle
Data columns (total 5 columns):
Give Birth       20 non-null int64
Can Fly          20 non-null int64
Live in Water    20 non-null int64
Have Legs        20 non-null int64
Class            20 non-null int64
dtypes: int64(5)
memory usage: 960.0+ bytes

In [26]:
features = df[["Give Birth","Can Fly","Live in Water","Have Legs"]]
target = df[["Class"]]

In [27]:
features.head()

        Give Birth  Can Fly  Live in Water  Have Legs
Name
human            1        0              0          1
python           0        0              0          0
salmon           0        0              1          0
whale            1        0              1          0
frog             0        0              2          1

In [28]:
from sklearn.naive_bayes import GaussianNB
from sklearn.utils.validation import column_or_1d
import numpy as np

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets 
model.fit(features, column_or_1d(target))

GaussianNB(priors=None, var_smoothing=1e-09)

In [29]:
import numpy as np
# Kiểm tra độ chính xác
print("The prediction accuracy is: ", model.score(features,np.array(target))*100,"%")

The prediction accuracy is:  90.0 %

In [30]:
class_names = model.classes_
class_names

array([0, 1])

In [31]:
# X_test = [["Yes", "No", "Yes", "No"], ["No", "No", "sometimes", "Yes"]]
X_test = [[1, 0, 1, 0], [0, 0, 2, 1]]
y_pred = model.predict(X_test)
y_pred

array([1, 0])